#logo {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 15px 0;
    a {
        color: #2F363E;
    }
}

#main_content {
    padding-bottom: 100px;
    #content {
        float: none;
    }
    .link {
        padding: 2em 1em;
        border-bottom: 1px solid #E9E9E9;
        h2 {
            padding-bottom: 15px;
        }
        .title {
            a {
                color: #FF4500;
            }
        }
    }
    #comments {
        .comment {
            padding: 1em 0;
            border-top: 1px solid #E9E9E9;
            .lead {
                margin-bottom: 0px;
            }
        }
    }
}